<h1>Create New Discount</h1>

<section id="create_discount">
<%= form_with url: "/merchants/#{@merchant.id}/discounts", method: :post, local: true do |f|%>
<%= f.label :percentage, "Percentage in decimal:" %>
<%= f.number_field :percentage, value: 0.0, step: 0.05 %><br>
<%= f.label :threshold, "Quantity Necessary:" %>
<%= f.number_field :threshold, value: 0, step: 1 %><br>
<%= f.submit "Create Discount" %>
<% end %>
</section>
